amqp==5.3.1
anyio==4.13.0
asgiref==3.11.1
astroid==4.0.4
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
bandit==1.9.4
billiard==4.2.4
black==26.3.1
boolean.py==5.0
CacheControl==0.14.4
cbor2==5.9.0
celery==5.6.3
celery-types==0.26.0
certifi==2026.2.25
cffi==2.0.0
cfgv==3.5.0
channels==4.3.2
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
coverage==7.13.5
cryptography==46.0.7
cyclonedx-python-lib==11.7.0
daphne==4.2.1
defusedxml==0.7.1
dill==0.4.1
distlib==0.4.0
Django==5.2.15
django-cors-headers==4.9.0
django-debug-toolbar==6.2.0
django-environ==0.13.0
django-extensions==4.1
django-filter==25.2
django-prometheus==2.4.1
django-ratelimit==4.1.0
django-redis==6.0.0
django-stubs==6.0.1
django-stubs-ext==6.0.1
django_celery_results==2.6.0
djangorestframework==3.17.1
djangorestframework-stubs==3.16.8
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
et_xmlfile==2.0.0
execnet==2.1.2
factory_boy==3.3.3
Faker==40.11.1
filelock==3.25.2
flake8==7.3.0
freezegun==1.5.5
gunicorn==25.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
hypothesis==6.151.9
identify==2.6.18
idna==3.15
Incremental==24.11.0
inflection==0.5.1
iniconfig==2.3.0
isort==8.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
librt==0.8.1
license-expression==30.4.4
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
openpyxl==3.1.5
orjson==3.11.7
packageurl-python==0.17.6
packaging==26.0
pathspec==1.0.4
pillow==12.2.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
prometheus_client==0.24.1
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
py-serializable==2.1.0
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.13.0
pylint==4.0.5
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
pyOpenSSL==26.0.0
pyparsing==3.3.2
pytest==9.0.3
pytest-cov==7.1.0
pytest-django==4.12.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-discovery==1.2.1
python-dotenv==1.2.2
pytokens==0.4.1
pytz==2026.1.post1
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
requests==2.33.0
rich==14.3.3
rpds-py==0.30.0
ruff==0.15.8
sentry-sdk==2.56.0
service-identity==24.2.0
setuptools==82.0.1
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.5
stevedore==5.7.0
tomli==2.4.1
tomli_w==1.2.0
tomlkit==0.14.0
Twisted==26.4.0
txaio==25.12.2
types-PyYAML==6.0.12.20250915
types-requests==2.33.0.20260327
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.12.1
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
virtualenv==21.2.0
wcwidth==0.6.0
whitenoise==6.12.0
xlsxwriter==3.2.9
zope.interface==8.2
