$font-family:
    'Lato',
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    sans-serif;
$font-family-heading:
    'Lato',
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    sans-serif;
$font-family-mono: 'Fira Code', 'Consolas', 'Monaco', monospace;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 60px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-tight: 1.25;
$line-height-base: 1.5;
$line-height-relaxed: 1.75;

$letter-spacing-tight: -0.025em;
$letter-spacing-base: 0;
$letter-spacing-wide: 0.025em;
$letter-spacing-wider: 0.05em;
