[defaults]
inventory = inventories
host_key_checking = False
roles_path = roles
stdout_callback = yaml
forks = 10
retry_files_enabled = False
interpreter_python = auto_silent
nocows = 1

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
become_method = sudo
become_user = root
